.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 12px auto;
}

.infoItem {
  width: 100%;
  padding: 4px;
  border-bottom: 2px solid var(--color-grey-blue-95);
}

.infoItem:last-of-type {
  border-bottom: none;
}

.infoItemLabel {
  margin: 4px 0px;
}

.btnLogOut {
  width: 100%;
}
