.input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  line-height: 20px;
  border-radius: 5px;
}

.input:focus {
  border: 2px solid var(--color-primary);
  padding: 8px;
}

.label {
  display: block;
  padding-left: 4px;
  margin-bottom: 4px;
  width: fit-content;
}

.error {
  margin-top: 4px;
  width: fit-content;
  color: var(--color-error);
}
