.root {
  max-width: 300px;
  width: 100%;
  background-color: #009dd1;
  height: 100vh;
}

.logo {
  padding: 20px 0;
}

.menuItem {
  padding: 15px 10px;
  display: flex;
  gap: 10px;
}

.active {
  background-color: #17b9d5;
}

.menuItem:hover {
  background-color: #17b9d5;
}
