.footer {
  margin-top: 12px;
}

.signUp {
  background-color: var(--color-warning);
  padding: 4px 8px;
  border-radius: 4px;
}

@media (width >= 580px) {
  .container {
    padding: 28px 16px;
    background: #ffffff39;
  }
}
