.wrapper {
  padding: 10px;
  height: 100vh;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/daqwg8oql/image/upload/v1700398875/bakery/banh-bong-lan-trung-muoi_xntoos.webp");
}

.container {
  padding: 28px;
  border-radius: 20px;
  background: #ffffff7e;
  max-width: 350px;
  width: 100%;
}

.title {
  margin: 12px;
}

@media (max-width: 580px) {
  .container {
    padding: 28px 16px;
    background: #ffffff39;
  }
}
