*,
html {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--color-bg-main);
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black);

  &:visited {
    color: var(--color-cello);
  }
}

button {
  border: none;
  background-color: transparent;
}
