.item {
  margin-bottom: 12px;
  padding: 12px;
  border-bottom: 2px solid var(--color-grey-blue-95);
}

.itemImg {
  width: 100px;
  aspect-ratio: 4/3;
  border-radius: 5px;
}

.btnCount {
  background-color: var(--color-red);
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
