.topBar {
  padding: 0px 64px;
  justify-content: space-between;
}

.topBarLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4;
  height: 35px;
  padding: 0px 8px;
}

.topBarLink[data-active="true"] {
  background-color: var(--color-grey-white-flash);
}

.topPromotion {
  background: var(--color-gray-dark-davy);
  height: 32px;
}

.info {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0px 15px;
  }

  .topBar {
    justify-content: center;
  }

  .info {
    display: none;
  }
}
